@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}
header{
    width: 100%;
    height: 100px;
    background-color: red;
}

nav{
    width: 100%;
    height: 50px;
    background-color: blue;
}

main{
    width: 100%;
    height: 200px;
    background-color: orange;
}

footer{
    width: 100%;
    height: 50px;
    background-color:blueviolet;
}